{# @var craft \craft\web\twig\variables\CraftVariable #}

{% do view.registerAssetBundle("escape\\escapedam\\assetbundles\\fields\\escapedam\\EscapeDamInputSelectAsset") %}
{% do view.registerAssetBundle("craft\\web\\assets\\prismjs\\PrismJsAsset") %}

{% set name = name ?? false %}
{% if name %}
    {{ hiddenInput(name, '') }}
{% endif -%}

{% set id = id ?? "elementselect#{random()}" -%}
{% set elements = elements ?? [] -%}
{% set jsClass = jsClass ?? 'Craft.BaseElementSelectInput' -%}
{% set sources = sources ?? null -%}
{% set condition = condition ?? null -%}
{% set criteria = criteria ?? null -%}
{% set searchCriteria = null %}{# No search criteria supported for this field! #}
{% set sourceElementId = sourceElementId ?? null -%}
{% set storageKey = storageKey ?? null -%}
{% set defaultPlacement = defaultPlacement ?? 'end' %}
{% set viewMode = viewMode ?? 'list' %}
{% set prevalidate = prevalidate ?? false %}
{% set fieldId = fieldId ?? null %}
{% set single = single ?? false %}
{% set limit = single ? 1 : (limit ?? null) %}
{% set showActionMenu = showActionMenu ?? true %}
{% set sortable = (not limit or limit > 1) and (sortable ?? true) %}
{% set disabled = (disabled ?? false) ? true : false %}
{% set registerJs = registerJs ?? true %}

{% set allowAdd = allowAdd ?? true %}
{% set allowRemove = allowRemove ?? true %}

{% set containerAttributes = {
    id: id,
    class: ['elementselect escapedam']|merge((class ?? [])|explodeClass),
}|merge(containerAttributes ?? [], recursive=true) %}

{%- if block('attr') is defined %}
    {%- set containerAttributes = containerAttributes|merge(('<div ' ~ block('attr') ~ '>')|parseAttr, recursive=true) %}
{% endif %}

{% from "_includes/forms" import text %}

{% tag 'div' with containerAttributes %}
    {% if viewMode in ['cards', 'cards-grid'] %}
        {{ include('_elements/cards.twig', {
            elements,
            showInGrid: showInGrid ?? (viewMode == 'cards-grid'),
            disabled,
            context: 'field',
            sortable: false,
        }) }}
    {% else %}
        {{ include('_elements/list.twig', {
            elements,
            size: size ?? (viewMode in ['thumbs', 'large'] ? 'large' : 'small'),
            inline: inline ?? (viewMode in ['list-inline', 'thumbs', 'large']),
            disabled,
            context: 'field',
            sortable: false,
        }) }}
    {% endif %}

    <div class="flex flex-row flex-wrap">
        {% if allowAdd %}
            {# Select from DAM #}
            {{ tag('button', {
                type: 'button',
                class: [
                    'btn',
                    'icon',
                    'dashed',
                    'wrap',
                    disabled ? 'disabled',
                    limit and elements|length >= limit ? 'hidden'
                ]|filter,
                text: damSelectionLabel,
                data: {
                    icon: 'download',
                    input: 'dam'
                }
            }) }}
            {# Select from Assets #}
            {% if enableAssetsInput %}
                {{ tag('button', {
                    type: 'button',
                    class: [
                        'btn',
                        'add',
                        'icon',
                        'dashed',
                        'wrap',
                        disabled ? 'disabled',
                        limit and elements|length >= limit ? 'hidden',
                        'escapedam',
                    ]|filter,
                    text: selectionLabel ?? 'Choose'|t('app'),
                    disabled: disabled,
                    aria: {
                        label: selectionLabel ?? 'Choose'|t('app'),
                        describedby: describedBy ?? false,
                    },
                    data: {
                        input: 'assets'
                    }
                }) }}
            {% endif %}
        {% endif %}
        <div class="spinner hidden"></div>
    </div>
{% endtag %}

{% if not disabled and registerJs %}
    {% set jsSettings = {
        id: id|namespaceInputId,
        name: name ? name|namespaceInputName : null,
        elementType: elementType,
        sources: sources,
        condition: condition ? condition.getConfig() : null,
        referenceElementId: referenceElement.id ?? null,
        referenceElementOwnerId: (referenceElement ?? null) is instance of('craft\\base\\NestedElementInterface')
            ? referenceElement.getOwnerId()
            : null,
        referenceElementSiteId: referenceElement.siteId ?? null,
        criteria: criteria,
        searchCriteria: null,
        sourceElementId: sourceElementId,
        defaultPlacement,
        viewMode: viewMode,
        limit: limit,
        modalStorageKey: storageKey,
        fieldId: fieldId,
        prevalidate: prevalidate ?? false,
        canUpload: false,
        fsType: fsType,
        defaultFieldLayoutId: defaultFieldLayoutId,
        modalSettings: {
            hideSidebar: hideSidebar ?? false,
            defaultSource: defaultSource ?? null,
            defaultSourcePath: defaultSourcePath ?? null,
            preferStoredSource: preferStoredSource ?? false,
            showSourcePath: showSourcePath ?? true,
            indexSettings: {
                showFolders: showFolders ?? true,
            },
            modalTitle: selectionLabel,
        },
        describedBy: (describedBy ?? false) ? describedBy|split(' ')|map(id => id|namespaceInputId)|join(' ') : null,
        allowSelfRelations: allowSelfRelations ?? false,

        assetsEnabled: enableAssetsInput ? true : false,
        allowedExtensions,
        enableAssetsInput
    } %}

    {% js %}
        new {{ jsClass }}({{ jsSettings|json_encode|raw }});
    {% endjs %}
{% endif %}

{# Not sure if we still need these: #}
{#
single: single,
showSiteMenu: showSiteMenu ?? false,
sortable: sortable,
showActionMenu: showActionMenu,
#}
